<h1>All Pics</h1>
 
  <% @pics.each do |pic| %>
<table>
    <tr>
      <td>
      <a href="<%= pic_path(pic) %>">
        <%= image_tag pic.image.url(:medium) , class: 'uploaded-pic' %>
      </a>
      </td>
    </tr>
    <tr>
      <td><center><em><%= pic.caption %><br>
        Posted <%= time_ago_in_words(pic.created_at) %> ago
      </em></center></td>
    </tr>
  <% end %>
</table>